<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
	<job_writer path="D:\cygwin\tmp\dummyspool"/>
	<data_handling path="D:\cygwin\tmp\dummyspool" timeout="None"/>
	<core exec="E:\Eigene Dateien\Projekt NMR\damaris\backends\machines\dummycore.exe"
              path="D:\cygwin\tmp\dummyspool" core_state="dummy core.state"/>
</config>