[Desktop Entry]
Name=DAMARIS
Comment=DArmstadt MAgnetic Resonance Instrument Software
Exec=/usr/bin/DAMARIS %F
X-MultipleArgs=true
Terminal=false
MimeType=text/x-python;text/plain;
Type=Application
Categories=Science;Education;Physics;Chemistry;
Icon=DAMARIS
