Source: damaris
Section: science
Priority: optional
Maintainer: Achim Gaedke <Achim.Gaedke@physik.tu-darmstadt.de>
Build-Depends: debhelper, libxerces27-dev, libexpat-dev|libexpat1-dev, linux-headers-2.6-all | linux-headers-2.6.18-6-all
Standards-Version: 3.7.2

#Package: damaris-frontend-labview
#Architecture: all
#Provides: damaris-frontend
#Recommends: damaris-backends
#Description: LabView frontend for damaris project

Package: damaris-backends
Architecture: i386 amd64
Depends: ${shlibs:Depends}, bash, pciutils, modutils|module-init-tools, coreutils, grep
Recommends: python-damaris|damaris-frontend, damaris-modules
Description: backend package

Package: damaris-modules
Architecture: i386 amd64
Recommends: damaris-backends
Depends: ${linux-image:Depends}
Replaces: damaris-backends (<= 0.9-0.5)
Description: kernel modules for damaris hardware
